<div id="<%= dom_id member %>" class="bg-white shadow rounded-lg p-6 mb-4">
  <dl class="divide-y divide-gray-200">
    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Name</dt>
      <dd class="text-sm text-gray-900"><%= member.name %></dd>
    </div>

    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Surname</dt>
      <dd class="text-sm text-gray-900"><%= member.surname %></dd>
    </div>

    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Email</dt>
      <dd class="text-sm text-gray-900"><%= member.email %></dd>
    </div>

    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Birthday</dt>
      <dd class="text-sm text-gray-900"><%= member.birthday %></dd>
    </div>

    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Games Played</dt>
      <dd class="text-sm text-gray-900"><%= member.number_of_club_games_played %></dd>
    </div>

    <div class="py-3 flex justify-between">
      <dt class="text-sm font-medium text-gray-500">Current Rank</dt>
      <dd class="text-sm text-gray-900 font-semibold"><%= member.current_rank %></dd>
    </div>
  </dl>
</div>